/* These styles are for the site overall */
#Body {
  background: #f8fbf8;
}

p {
  font-family: Segoe UI;
  display: block;
  color: #0C1115;
  font-size: 25px;
}
/* This is the dashboard style */
#Page_Header {
  font-weight: bold;
  color: #00458B;
  font-size: 60px;
}

#Header {
  color: #B23850;
  padding: 10px;
}
/* _____________________________________________________________________________
This is for the navbar */
.navbar {
  background-color: #99DDFF;
  font-weight: 30px;
  font-family: "Segoe UI";
  color: white;
}
.tab-panel{
  background-color:#BE2F29;
  color: white;
}
.navbar-default .navbar-brand {
  color: white;
}
.navbar-default .navbar-nav {
  color: white;
}
/*______________________________________________________________________________ 
These styles are for the Overview page */

#OverviewSubHeader {
  font-weight: bold;
  text-align: left;
  color: #3FD2C7;
  font-size: 35px;
}
#VisualSubHeader {
  font-weight: bold;
  text-align: left;
  color: #1A2C42;
  font-size: 25px;
}

#links{
  font-family: "Segoe UI";
  display: block;
  color: #00458B;
  font-size: 25px;
}


