/* These styles are for the site overall */
#Body {
  background: #F4F4F4;
}

p {
  font-family: Segoe UI;
  display: block;
  color: #373737;
  font-size: 20px;
}
/* This is the dashboard style */
#Page_Header {
  font-weight: bold;
  color: #333A56;
  font-size: 60px;
}

#Header {
  color: #B23850;
  padding: 10px;
}
#HighestCities {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* _____________________________________________________________________________
This is for the navbar */
.navbar {
  background-color: #E8E8E8;
  font-weight: 30px;
  font-family: "Segoe UI";
  color: white;
}

/*______________________________________________________________________________ 
These styles are for the Overview page */

#OverviewSubHeader {
  font-weight: bold;
  text-align: left;
  color: #C0B283;
  font-size: 35px;
}
#VisualSubHeader {
  text-align: left;
  color: #333A56;
  font-size: 25px;
  font-weight: bold;
}

#links{
  font-family: "Segoe UI";
  display: block;
  color: #00458B;
  font-size: 25px;
}

#conclusionSubheader {
  text-align: left;
  color: #003060;
  font-size: 20px;
  font-weight: bold;
}


